@import '../../globalStyles/mixins/mixins';

//Some badly, but workable
.OverviewWrapper {
  #flex-column-start;
  width: 100%;
  padding: @padding-desktop;

  .table {
	#flex-start-centered;
	width: 100%;
	padding: 20px 20px 20px 0;

	.row { //default for every row inside a table.
	  justify-content: space-between;
	  width: 100%;
	}

	//Here starts our awkward tree...
	> .column { //Three column at all
	  width: 260px; //definitely width, maybe make it more flexible
	  height: 100%;

	  > .row { //We have three rows inside every column
		margin-top: 15px;

		.label { //for all labels
		  #fontStack6;
		}

		> .label { //labels at first two row, scroll down to see labels at columns
		  display: flex;
		  align-items: center;
		  min-width: 100px;
		  padding: 8px;
		}

		&:first-child { //Defining properties for each of three rows
		  justify-content: flex-start;

		  > .row {
			border-bottom: 2px solid #E3BE3F;
			margin-right: 30px; //cut border line

			> .row {
			  justify-content: flex-start;
			  width: 100%;

			  .column {
				margin-left: @margin-block;
			  }
			}
		  }

		  .Box {
			#flex-center;
			min-width: 27px;
			height: 37px;
			color: @primary-color;
			background-color: #E3BE3F;
		  }
		}

		&:nth-child(2) {
		  justify-content: flex-start;

		  > .row {
			width: 100%;

			.column {
			  width: 100%;
			}
		  }
		}

		&:nth-child(3) {
		  .column .label { //labels at column
			min-width: 100px;
			padding: 8px;

			&:nth-child(2n - 1) {
			  background-color: #ebf1f4;
			}
		  }

		  .row .column {
			width: 100%; //Connect columns in one line

			.value { //Dont use here fontStack6, because it overrides color state
			  font-size: 12px;
			  padding: 8px;

			  &:nth-child(2n-1) {
				background-color: #ebf1f4;
			  }
			}
		  }
		}
	  }

	  &:first-child {
		width: 360px; //Add 100px to first column to compensate label width
	  }

	  //Hide labels for second and third column
	  &:nth-child(2), &:nth-child(3) {
		> .row {
		  &:first-child, &:nth-child(2) {
			> .label {
			  display: none;
			}
		  }

		  &:nth-child(3) .column .label {
			display: none;
		  }
		}
	  }
	}
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .OverviewWrapper {
	.table {
	  justify-content: flex-start;
	  overflow-x: scroll;
	}
  }
}

@media screen and (max-width: 767px) {
  .OverviewWrapper {
	padding: 3vh 3vw;

	.table {
	  flex-direction: column;
	  padding: 0;

	  > .column {
		margin-top: 15px;

		&:first-child { //HARD override
		  width: 100%;
		}

		width: 100%; //And for others

		&:nth-child(2), &:nth-child(3) {
		  > .row {

			&:first-child, &:nth-child(2) {
			  > .label {
				display: flex;
			  }
			}

			&:nth-child(3) .column .label {
			  display: flex;
			}
		  }
		}
	  }
	}
  }
}

