@import '../../../globalStyles/variables/variables';
@import '../../../globalStyles/mixins/mixins';

.systemDescription {
  .container {
	#flex-start;
	//align-items: flex-start;
	flex-wrap: wrap;
	> .column {
	  margin: 20px;
	}
  }

  .row {
	display: flex;
  }

  .column {
	display: flex;
	flex-direction: column;
  }

  .heading {
	#fontStack4;
	margin: 5px;
  }

  .label {
	min-width: 100px; //Remove to break aligning text
	#fontStack2;
	margin: 5px;
  }

  .value {
	#fontStack2;
	color: @text-visible;
	margin: 5px;
  }
}


@media screen and (max-width: 767px) {
  .systemDescription .container {
	flex-direction: column;
	justify-content: space-around;
  }
}
