@import '../../../globalStyles/variables/variables';
@import '../../../globalStyles/mixins/mixins';

.systemDescription {
  width: 100%;

  .container {
	#flex-start;
	flex-wrap: wrap;

	> .row {
	  justify-content: flex-start;
	  flex-wrap: wrap;
	  margin-top: 20px;

	  > .column {
		width: 250px;
		//margin: 20px;

		.Software { // > .column       Its unicum.
		  margin-top: 35px;
		}
	  }
	}
  }

  .row {
	display: flex;
  }

  .column {
	display: flex;
	flex-direction: column;
  }

  .heading {
	#fontStack4;
	margin: 5px;
  }

  .label {
	min-width: 100px; //Remove to break aligning text
	#fontStack2;
	margin: 5px;
  }

  .value {
	#fontStack2;
	color: @text-visible;
	margin: 5px;
  }
}

@media screen and (max-width: 767px) {
  .systemDescription {
	padding: 3vh 3vw;
	margin-top: 10px;

	.container {
	  flex-direction: column;
	  justify-content: space-around;

	  .row {
		.column {
		  margin-top: 10px;

		  .Software { // > .column
			margin-top: 10px;
		  }
		}
	  }
	}
  }
}
