@import '../../globalStyles/variables/variables';
@import '../../globalStyles/mixins/mixins';

.header {
  #flex-space-between;
  width: 100%;
  height: 60px;
  background-color: @fifth-color;

  .hamburger {
	display: none;
  }

  .iconContainer {
	width: 30px;
	height: 30px;
	//icon is in globalStyles/index.less
  }

  .logoContainer {
	#flex-start-centered;

	.logo {
	  height: 100%;
	  width: 100%;
	}
  }

  .userMenu {
	#flex-space-around;
	#fontStack2;
	padding-right: 20px;
	min-width: 50%;

	.element {
	  #flex-center;
	  color: @primary-color;
	  text-decoration: none;

	  .label {
		margin-left: 10px;
	  }

	  &:hover {
		cursor: pointer;
	  }
	}
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {
  .header {
	.userMenu {
	  display: none;
	}

	.hamburger {
	  display: flex;
	  color: @third-color;
	}

	.hamburger:first-child {
	  margin-left: 15px;
	}

	.hamburger:nth-child(2n) {
	  margin-right: 15px;
	}
  }
}
