@import '../../globalStyles/variables/variables';

.button{
  width: 110px;
  height: 40px;
  background-color: @fourth-color;
  border: none;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: @font-family;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: @primary-color;
  &:hover{
	opacity: 0.9;
  }
}
