@import '../../globalStyles/variables/variables';
@import '../../globalStyles/mixins/mixins';

.button{
  #fontStack5;
  color: @primary-color;

  min-width: 70px;
  height: 30px;
  background-color: @fourth-color;
  border: none;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  &:hover{
	opacity: 0.9;
  }
  &:focus{
	outline: none;
  }
}

.disabled{
  background-color: #f7f8f8;
  border: 1px solid #d0d5db;
  #fontStack1;
  &:hover{
	opacity: 1;
  }
}

.small{
  width: 120px;
  height: 40px;
}

.middle{
  width: 160px;
  height: 40px;
}

.long{
  width: 280px;
  height: 40px;
}
