@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
//@import url(http://fonts.googleapis.com/css?family=RobotoMedium:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

@font-family: 'Roboto';
@heading-font-family: 'Roboto Medium';

//from white to black
@primary-color: #fff;
@secondary-color: #7f888c;
@third-color: #f2f3f3;
@fourth-color: #404E54;
@fifth-color: #232A2D;

@text-muted: #bfc4c6;
