@font-family: 'Roboto';

@primary-color: #fff;
@secondary-color: #7f888c;
@third-color: #f2f3f3;
@fourth-color: #404E54;
@fifth-color: #232A2D;

@link-color: #bfc4c6;
@active-link-color: #555555;

@text-muted: #7f888c;
@text-visible: #555555;

@margin-button: 30px;
@margin-block: 20px;
@margin-label: 10px;
@padding-desktop: 20px 40px;
@padding-mobile: 3vh 3vw;

@header-height: 60px;
@mobile-element: 280px;
