@import '../../globalStyles/mixins/mixins';


.button{ //By default bg, width
  #fontStack5;
  color: @primary-color;
  min-width: 70px;
  height: 30px;
  background-color: @fourth-color;
  border: none;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  &:hover{
	cursor: pointer;
	opacity: 0.9;
  }
  &:focus{
	outline: none;
  }
}

.disabled{
  #fontStack1;
  color: #cccccc;
  background-color: #f7f8f8;
  border: 1px solid #d0d5db;

  &:hover{
	//cursor: text;
	opacity: 1;
  }
}

.button.dark{
  border: 1px solid #d0d5db;
  background-color: @fourth-color;
  color: @primary-color;
}

.button.light{
  #fontStack2;
  border: 1px solid #d0d5db;
  background-color: #f8faff;
}

.button.small{
  width: 120px;
  height: 40px;
}

.button.middle{
  width: 160px;
  height: 40px;
}

.button.long{
  width: 280px;
  height: 40px;
}
