@import './reset';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import './Panel (SubMenu)/Panel';
@import '../containers/index';
@import '../Components/index';
@import '../Components/patterns/index';

//mixins are imported to every less file which uses them, mixins includes variables.
// Every less file merged in export group (index).

.Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  .Components {
	display: flex;
	align-self: flex-start;
	width: 100vw;

	.pageScroll {
	  #flex-center;
	  width: 100%;
	  height: 100%;
	  overflow-y: auto;

	  .page {
		width: 100%;
		height: ~'calc(100vh - 60px)'; //Minus taskbar height!
	  }
	}
  }
}

/* every row and column are specific and redeclared in each file.
There are default declaration */
.row {
  #row;
}

.column {
  #column;
}

.logo {
  width: 160px;
  //height: 26px;
}

.icon {
  width: 26px;

  &:hover {
	cursor: pointer;
  }
}

/* states */
.On {
  color: #00aeb1;

  .color {
	fill: #00aeb1;
  }
}

.Overload {
  color: #E3BE3F;

  .color {
	fill: #E3BE3F;
  }
}

.Error {
  color: #E56575;

  .color {
	fill: #E56575;
  }
}

.Off {
  color: #d7d7d7;

  .color {
	fill: #d7d7d7;
  }
}

.is-hidden {
  display: none;
}

.title {
  #fontStack3;
  align-self: flex-start;
}

@media screen and (max-width: 767px) {

}
