@import '../../../globalStyles/mixins/mixins';

.DateWrapper {
  padding: 20px 40px;

  .column {
	width: 400px;

	.inputGroup {
	  .row {
		#flex-space-between;

		.label {
		  #fontStack2;
		}
	  }
	}

	> .row:last-child {
	  margin-top: 20px;
	}
  }
}

@media screen and (max-width: 767px) {
  .DateWrapper {
	#flex-column-start;
	align-items: center;

	height: 100%;

	.column {
	  height: 100%;
	  width: 100%;

	  .inputGroup {
		.row {
		  flex-direction: column;
		  align-items: flex-start;
		}
	  }

	  > .row:last-child {
		margin-top: auto;

		.button {
		  width: 280px;
		}
	  }
	}
  }

}
