@import '../../../globalStyles/mixins/mixins';

.FirmwareWrapper {
  width: 400px;

  > .column {
	> .row {
	  align-items: center;

	  .label {
		#fontStack2;
		width: 100%;
	  }

	  .value {
		width: 100%
	  }

	  .buttonContainer { //&:last-child
		margin-top: @margin-block;
	  }
	}
  }
}

@media screen and (max-width: 767px) {
  .FirmwareWrapper {
	#flex-column-start;
	align-items: center;
	width: 100%;
	height: 100%;

	> .column {
	  height: 100%;

	  > .row {
		flex-direction: column;

		.Dropzone{
		  width: 100%;
		}
	  }

	  .buttonContainer { //&:last-child
		margin-top: auto;

		.button {
		  width: 280px;
		}
	  }
	}
  }
}
