@import '../../../globalStyles/mixins/mixins';

.NetworkWrapper {

  .column {
	.container { // .column:first-child
	  width: 400px;

	  .inputGroup {
		.row {
		  #flex-space-between;

		  .label {
			#fontStack2;
		  }

		  .value {
			width: 280px;
		  }
		}
	  }

	  .radioGroup {
		.row {
		  #flex-start-centered;
		  width: 100%;
		}
	  }

	  .buttonContainer  { // > .row:last-child
		margin-top: @margin-block;
	  }
	}

	 .footer {
	  border-top: 2px solid @third-color;
	  margin-top: @margin-block;
	  padding-top: 20px;

	  .row {
		align-items: center;

		.label {
		  margin-left: @margin-label;
		}
	  }
	}
  }
}

@media screen and (max-width: 767px) {
  .NetworkWrapper {
	#flex-column-start;

	>.column {
	  align-items: center;
	  .container {
		width: fit-content;

		.inputGroup {
		  .row {
			flex-direction: column;
			align-items: flex-start;
		  }
		}

		.buttonContainer { // > .row:last-child
		  .button {
			width: 280px;
		  }
		}
	  }
	}
  }
}
