@import '../../globalStyles/mixins/mixins';
@import "./Tabs/Network";
@import "./Tabs/Date";
@import "./Tabs/Firmware";

.SettingsWrapper {
  #flex-start;
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 767px) {
  .SettingsWrapper {
	flex-direction: column;
	align-items: center;

	.title {
	  display: none;
	}

	.NetworkWrapper, .DateWrapper, .FirmwareWrapper {
	  padding: 3vh 3vw;
	}
  }
}
