@import '../../globalStyles/mixins/mixins';

.UsersWrapper {
  #flex-start;
  height: 100%;

  .component {
	height: 100%;
	width: 100%;

	.AdminWrapper {
	  width: 450px;
	  padding: @padding-desktop;

	  .head .icon {
		display: none;
	  }

	  .container {

		.inputContainer {
		  margin-top: @margin-block;

		  .row {
			#flex-space-between;
			margin-top: @margin-label;

			.label {
			  color: @text-muted;
			}
		  }
		}

		.switchContainer {
		  .row {
			margin-top: @margin-block;
			#flex-start-centered;

			.label {
			  margin-left: @margin-label;
			}
		  }
		}

		.buttonContainer {
		  margin-top: @margin-button;
		}
	  }
	}
  }
}

@media screen and (max-width: 767px) {
  .UsersWrapper {
	#flex-column-start;

	.panel {
	  height: 100%;
	  padding-bottom: 20px;

	  .nav {
		#flex-column-start;

		.tabBtn {
		  margin-top: auto;

		  .button {
			width: @mobile-element;
		  }
		}
	  }
	}

	.component {

	  .AdminWrapper {
		#flex-start-centered;
		flex-direction: column;
		width: 100%;
		height: 100%;
		padding: @padding-mobile;

		.head {
		  #flex-start-centered;
		  width: 100%;

		  .icon {
			display: flex;
		  }

		  .title {
			margin-left: @margin-label;
			align-self: unset;
		  }
		}

		.container {
		  height: 100%;

		  .inputContainer {
			margin: 0;

			.row {
			  flex-direction: column;
			  align-items: flex-start;

			  &:not(:first-child) {
				margin-top: @margin-block;
			  }

			  .formInput {
				width: @mobile-element;
			  }

			  .label {
				margin-bottom: @margin-label;
			  }
			}
		  }

		  .switchContainer {
			// margin-top: @margin-block;
		  }

		  .buttonContainer {
			margin-top: auto;

			.button {
			  width: @mobile-element;
			}
		  }
		}
	  }
	}
  }
}
