@import '../../globalStyles/variables/variables';
@import '../../globalStyles/mixins/mixins';

.sidebar {
  position: relative;
  width: 200px;
  height: 100vh;
  background-color: @fourth-color;

  .navList {
	#flex-column-start;
	align-items: start;
	width: 100%;

	.navLink {
	  display: flex;
	  height: 50px;
	  width: 100%;
	  #fontStack1;
	  text-decoration: none;

	  &:hover {
		background-color: #4c5c62;
	  }

	  .contextHolder {
		display: flex;

		img, p, i {
		  #flex-start-centered;
		  padding-left: 15px;
		}
	  }

	}

	.is-active {
	  background-color: @primary-color;
	  color: @fourth-color;
	}
  }
}


@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .sidebar {
	width: 50px;

	.navList {
	  .navLink {
		.contextHolder p {
		  display: none;
		}
	  }
	}
  }
}

  @media screen and (max-width: 767px) {
	.sidebar {
	  display: none;
	}

	.sidebarVisible {
	  position: absolute;
	  z-index: 2;
	  display: flex;
	  width: 100%;
	  height: 100vh;
	}
  }
