@import '../../globalStyles/variables/variables';
@import '../../globalStyles/mixins/mixins';

.sidebar {
  position: relative;
  min-width: 200px;
  height: 100vh;
  background-color: @fourth-color;

  .navList {
	#flex-column-start;
	align-items: start;
	width: 100%;

	.navLink {
	  #fontStack1;
	  display: flex;
	  height: 50px;
	  width: 100%;
	  text-decoration: none;

	  &:hover {
		background-color: #4c5c62;
	  }

	  .contextContainer {
		#flex-start-centered;
		width: fit-content;
		padding-left: 10px;

		.iconContainer { //cannot be block!
		  width: 30px;
		  height: 30px;
		  //icon is in globalStyles/index.less
		}

		.label {
		  margin-left: 10px;
		}
	  }
	}

	.is-active {
	  background-color: @primary-color;
	  color: @fourth-color;
	}
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sidebar {
	min-width: 50px;

	.navList {
	  .navLink {
		.contextContainer .label {
		  display: none;
		}
	  }
	}
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
	display: none;
  }

  .sidebarVisible {
	position: absolute;
	z-index: 2;
	display: flex;
	width: 100%;
	height: 100vh;
  }
}
