@import "../variables/variables";

#row{
  display: flex;
 flex-flow: row nowrap;
}

#column{
  display: flex;
  flex-flow: column nowrap;
}

#flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#flex-start-centered {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#flex-justify-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#flex-column-space-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#flex-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#Roboto {
  font-family: @font-family;
  font-weight: 400;
}

#RobotoLight {
  font-family: @font-family;
  font-weight: 300;
}

#RobotoMedium {
  font-family: @font-family;
  font-weight: 500;
}

//Why there are so much sizes?
#fontStack1 {
  #Roboto;
  font-size: 14px;
  color: @text-muted;
}

#fontStack2 {
  #Roboto;
  font-size: 13px;
  color: @text-muted;
}

#fontStack3 {
  #RobotoMedium;
  font-size: 14px;
  color: #555555;
}

#fontStack4 {
  #RobotoMedium;
  font-size: 13px;
  color: #555555;
}

#fontStack5 {
  #Roboto;
  font-size: 13px;
  color: @fourth-color;
}

#fontStack6 {
  #Roboto;
  font-size: 12px;
  color: @text-muted;
}

#fontStack7 {
  #Roboto;
  font-size: 14px;
  color: #555555;
}
